<form class="form-horizontal">
    <fieldset>
        <legend>Ntfy Settings</legend>

        <div class="control-group">
            <label class="control-label">Ntfy Server URL</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.ntfy.server_url">
                <span class="help-block">For example: https://ntfy.sh or your self-hosted address</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Topic</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.ntfy.topic">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Access Token (Optional)</label>
            <div class="controls">
                <input type="password" class="input-block-level" data-bind="value: settings.plugins.ntfy.access_token">
                <span class="help-block">Required if your topic is protected.</span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.ntfy.include_snapshot"> Attach camera snapshot
                </label>
            </div>
        </div>

        <legend>Events</legend>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.ntfy.event_print_started"> Print started
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.ntfy.event_print_done"> Print finished
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.ntfy.event_print_failed"> Print error
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.ntfy.event_print_cancelled"> Print canceled
                </label>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Testing</legend>
        <div class="control-group">
            <div class="controls">
                <button id="ntfy_test_button" class="btn btn-primary">Send test notification</button>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $(function() {
        // Use a delegated event handler.
        // It listens for clicks on #settings_dialog, but only reacts if the click was on #ntfy_test_button.
        // This ensures the handler works even if the button is added to the DOM later.
        $("#settings_dialog").on("click", "#ntfy_test_button", function(e) {
            e.preventDefault(); // Prevent default button behavior

            console.log("Test button clicked!"); // For debugging

            OctoPrint.simpleApiCommand("ntfy", "send_test_notification", {})
                .done(function() {
                    new PNotify({
                        title: 'Success',
                        text: 'Command to send test notification has been sent.',
                        type: 'success'
                    });
                })
                .fail(function() {
                    new PNotify({
                        title: 'Error',
                        text: 'Failed to send command. Check octoprint.log.',
                        type: 'error'
                    });
                });
        });
    });
</script>
